<div>
  <%= link_to 'Add new nudge', new_nudge_path %>
</div>

<div class='container'>
  <% @nudges.each do |nudge| %>
    <div class='row'>
      <h2><%= nudge.title %></h2>
      <p><%= nudge.body %></p>
      <%= link_to 'Nudge', send_nudge_path(nudge) %>
    </div>
  <% end %>
</div>
